.h3-sidebar {
    font-size: 1.3em;
    text-align: left;
}

.h6-sidebar {
    font-size: 1em;
    line-height: .7;
}

.rounded-icon-sidebar {
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
    margin-right: auto;
    margin-left: auto;
}

.item-sidebar {
    padding-bottom: 5px;
}

.section-teaser {
    height: 170px;
    width: 100%;
    background-image: url(../../img/teaser-trigo.jpg);
    background-size: cover;
    background-position: center center;
}

.teaser-inner {
    background:rgba(0,0,0,0.4);
    border: solid 3px #fff;
    height: 100%;
    width: 100%;
}

.teaser-inner h2 {
    color: #fff;
    padding-top: 100px;
    text-align: left;
    padding-left: 20px;
}

.section-body {
    padding-top: 20px;
    line-height: 2;
}

.panel-heading {
    border-bottom: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-collapse {
    padding: 10px;
}

.seccion {
    padding-bottom: 5px;
    line-height: 2;
}

.seccion > h3 {
    text-align: left;
    color: #B31745;
    font-size: 1.3em;
}

.seccion ul {
    padding-left: 20px;
}